<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
            
        <add key="dataSyncIntervalSec"     value="86400"/>
        
        <!-- GENESYS CLOUD INPUTS -->
        <!-- TEST PLATFORM
        <add key="clientID"             value=""/>
        <add key="clientSecret"         value=""/>
        
        PROD PLATFORM
        <add key="clientID"             value=""/>
        <add key="clientSecret"         value=""/>
        -->
        <add key="clientID"             value=""/>
        <add key="clientSecret"         value=""/>

        <!-- AD CONNECTION INPUTS -->
        <add key="IP"                   value=""/>
        <add key="domain"               value=""/>
        <add key="userName"             value=""/>
        <add key="password"             value=""/>
        
        <!-- AGENT ROLE ID (WILL NOT UPDATE PHONE NUMBERS) 
        TEST = 
        PROD =  -->
        <add key="roleID"               value=""/>
        <!-- Look for role ID. and make it configurable. Use role ID instead of name value -->
        
        <!-- LDAP FILTER -->
        <add key="filter"               value="(&amp;(objectCategory=person)(objectClass=user)(mail=*.*@*)(name=))"/>
        
        <!-- FIELD MAPPINGS -->
        <add key ="GCEmail"             value="ADEmail" />
        <add key ="GCName"              value="ADName" />
        <add key ="GCManager"           value="ADManager" />
        <add key ="GCDepartment"        value="ADDepartment" />
        <add key ="GCTitle"             value="ADTitle" />
        <add key ="GCPrimaryPhone"      value="ADPrimaryPhone" />
        <add key ="GCMobile"            value="ADMobile" />
        
        <!-- EXTERNAL ID -->
        <add key ="ExternalIDAuthority" value=""/>
        
    </appSettings>
</configuration>